asgiref==3.4.1
Django==3.2.5
djangorestframework==3.12.4
dnspython==2.1.0
pymongo==3.12.0
python-dotenv==0.19.0
pytz==2021.1
sqlparse==0.4.1
boto3==1.18.11
botocore==1.21.51
s3transfer==0.5.0


#https://github.com/readbeyond/aeneas - API TESTING
#https://www.readbeyond.it/aeneas/ - API TESTING

# python -m aeneas.tools.execute_task /home/nvombat/Desktop/MusicApp/music_data/English/rec_3_fullsong.mp3 
# /home/nvombat/Desktop/MusicApp/music_data/English/lyrics.txt "task_language=eng|os_task_file_format=json|is_text_type=plain" 
# /home/nvombat/Desktop/MusicApp/music_data/English/map_rec_3.json

# python -m aeneas.tools.execute_task /home/nvombat/Desktop/MusicApp/music_data/English/rec_3_fullsong.mp3 
# /home/nvombat/Desktop/MusicApp/music_data/English/lyrics.txt "task_language=eng|os_task_file_format=srt|is_text_type=plain" 
# /home/nvombat/Desktop/MusicApp/music_data/English/map_rec_3.srt

# python -m aeneas.tools.execute_task /home/nvombat/Desktop/MusicApp/server/apitesting/test_data/audio.mp3 
# /home/nvombat/Desktop/MusicApp/server/apitesting/test_data/lyrics.txt 
# "task_language=eng|os_task_file_format=srt|is_text_type=plain" 
# /home/nvombat/Desktop/MusicApp/server/apitesting/test_data/map_1.srt